.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  gap: 6px;

  @media (max-width: (730px)) {
    display: none;
  }

  &__phone {
    font-weight: 500;
    font-size: 15px;
    color: var(--accent-text-color);
  }

  &__email {
    font-family: var(--font4);
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: var(--second-text-color);
  }
}
