<section class="branches">
  <h2 class="visually-hidden">Филиалы</h2>
  <div class="map" id="map"></div>
  <div class="container branches__container">
    <ul class="list-reset branches__list">
      <li class="branches__item">
        <div class="h3 branches__item-accent">МОСКВА</div>
        <address class="branches__item-address">
          <div class="branches__item-phones">
            <a href="tel:+74991361718" class="branches__item-phone">+7 (499) 136-17-18</a>
            <a href="tel:+79034679851" class="branches__item-phone">+7 (903) 467-98-51</a>
          </div>
          <div class="descr branches__item-descr">115114, ул. Дербеневская, д. 1, стр. 1, подъезд 44, офис 6 (станция метро "Павелецкая")</div>
          <button type="button" class="btn-reset descr descr--accent branches__item-route" data-coords='115114, ул. Дербеневская, д. 1, стр. 1, подъезд 44, офис 6 (станция метро "Павелецкая")'>Проложить маршрут</button>
        </address>
        <div class="descr descr--dark branches__item-descr">Режим работы: c 10:00 до 18:00</div>
      </li>
      <li class="branches__item">
        <div class="h3 branches__item-accent">Волгоград</div>
        <address class="branches__item-address">
          <div class="branches__item-phones">
            <a href="tel:+78442650888" class="branches__item-phone">+7 (8442) 65-08-88</a>
            <a href="tel:+78442650880" class="branches__item-phone">+7 (8442) 65-08-80</a>
          </div>
          <div class="descr branches__item-descr">400080, ул. Командира Рудь, 14А</div>
          <button type="button" class="btn-reset descr descr--accent branches__item-route" data-coords='400080, ул. Командира Рудь, 14А'>Проложить маршрут</button>
        </address>
        <div class="descr descr--dark branches__item-descr">Режим работы: c 08:00 до 17:00</div>
      </li>
      <li class="branches__item">
        <div class="h3 branches__item-accent">КРАСНОДАР</div>
        <address class="branches__item-address">
          <div class="branches__item-phones">
            <a href="tel:+78612927188" class="branches__item-phone">+7 (861) 292-71-88</a>
            <a href="tel:+79034679851" class="branches__item-phone"> +7 (903) 467-98-51</a>
          </div>
          <div class="descr branches__item-descr">350015, ул. Митрофана Седина, 176</div>
          <button type="button" class="btn-reset descr descr--accent branches__item-route" data-coords='350015, ул. Митрофана Седина, 176'>Проложить маршрут</button>
        </address>
        <div class="descr descr--dark branches__item-descr">Режим работы: c 08:00 до 17:00</div>
      </li>
      <li class="branches__item">
        <div class="h3 branches__item-accent">Саратов</div>
        <address class="branches__item-address">
          <div class="branches__item-phones">
            <a href="tel:+79276260050" class="branches__item-phone">+7 (927) 626-00-50</a>
            <a href="tel:+79034679851" class="branches__item-phone">+7 (903) 467-98-51</a>
          </div>
          <div class="descr branches__item-descr">410080, пр-т Строителей, 1</div>
          <button type="button" class="btn-reset descr descr--accent branches__item-route" data-coords='410080, пр-т Строителей, 1'>Проложить маршрут</button>
        </address>
        <div class="descr descr--dark branches__item-descr">Режим работы: c 10:00 до 18:00</div>
      </li>
      <li class="branches__item">
        <div class="h3 branches__item-accent">воронеж</div>
        <address class="branches__item-address">
          <div class="branches__item-phones">
            <a href="tel:+74732296378" class="branches__item-phone">+7 (473) 229-63-78</a>
            <a href="tel:+79034679851" class="branches__item-phone">+7 (903) 467-98-51</a>
          </div>
          <div class="descr branches__item-descr">394030, ул. Комиссаржевской, 10</div>
          <button type="button" class="btn-reset descr descr--accent branches__item-route" data-coords='394030, ул. Комиссаржевской, 10'>Проложить маршрут</button>
        </address>
        <div class="descr descr--dark branches__item-descr">Режим работы: c 10:00 до 18:00</div>
      </li>
      <li class="branches__item">
        <div class="h3 branches__item-accent">ЕРЕВАН</div>
        <address class="branches__item-address">
          <div class="branches__item-phones">
            <a href="tel:+37491219069" class="branches__item-phone">+374 91 21 90 69</a>
            <a href="tel:+37460509069" class="branches__item-phone">+374 60 50 90 69</a>
          </div>
          <div class="descr branches__item-descr">Район Аван 4, дом 2</div>
          <button type="button" class="btn-reset descr descr--accent branches__item-route" data-coords='Район Аван 4, дом 2'>Проложить маршрут</button>
        </address>
        <div class="descr descr--dark branches__item-descr">Режим работы: c 10:00 до 18:00</div>
      </li>
      <li class="branches__item">
        <div class="h3 branches__item-accent">НОВОСИБИРСК</div>
        <address class="branches__item-address">
          <div class="branches__item-phones branches__item-phones--row">
            <a href="tel:+73832062461" class="branches__item-phone">+7 (383) 20-62-461;</a>
            <a href="tel:+73832062711" class="branches__item-phone">+7 (383) 20-62-711</a>
            <a href="tel:+73832062209" class="branches__item-phone">Факс: +7 (383) 20-62-209;</a>
            <a href="tel:+73832062210" class="branches__item-phone">Факс: +7 (383) 20-62-210</a>
          </div>
          <div class="descr branches__item-descr">630039, ул. Никитина 116, к.3</div>
          <button type="button" class="btn-reset descr descr--accent branches__item-route" data-coords='630039, ул. Никитина 116, к.3'>Проложить маршрут</button>
        </address>
        <div class="descr descr--dark branches__item-descr">Режим работы: c 10:00 до 18:00</div>
      </li>
    </ul>
  </div>
</section>
