<section class="contacts">
  <div class="container contacts__container">
    <address class="contacts__address">
      <div class="contacts__details">
        <a href="tel:+79034679851" class="h2 contacts__main-text contacts__address-phone">8 (903) 467 98 51</a>
        <a href="mailto:info@monevac.ru" class="contacts__main-text contacts__address-email">info@monevac.ru</a>
        <div class="contacts__text">Полное наименование:</div>
        <div class="contacts__text">Общество с ограниченной ответственностью «МОНЕВАК» Сокращенное наименование: ООО «МОНЕВАК»</div>
      </div>
      <div class="contacts__details">
        <div class="contacts__text-small">ИНН: 3448050610</div>
        <div class="contacts__text-small">КПП: 344801001</div>
        <div class="contacts__text-small">ОКПО: 67354285</div>
        <div class="contacts__text-small">ОГРН: 1103461002480</div>
        <div class="contacts__text-small">Код по ОКВЭД: 51.70</div>
      </div>
      <div class="contacts__details">
        <div class="contacts__text-small">Банк: Филиала «Ростовский» ОАО «Альфа-Банк» г Ростов на Дону</div>
        <div class="contacts__text-small">БИК: 046015207</div>
        <div class="contacts__text-small">к/с: 30101810500000000207</div>
        <div class="contacts__text-small">р/с: 40702810926090000003</div>
      </div>
      <div class="contacts__details">
        <div class="contacts__text-small">Юридический адрес: 400080, Волгоградская обл. г. Волгоград ул. Командира Рудь,14А, офис 13</div>
        <div class="contacts__text-small">Почтовый адрес: 400080, Волгоградская обл. г. Волгоград ул. Командира Рудь, 14А, офис 13</div>
      </div>
    </address>
    <form action="#" method="post" class="contacts__form" data-contacts-form>
      <h2 class="h2 contacts__form-title">Оставлись вопросы?</h2>
      <div class="contacts__form-labels">
        <label class="contacts__form-label">
          <input type="text" class="input-reset field" name="Имя" data-name placeholder="Ваше имя" aria-label="Поле для имени">
        </label>
        <label class="contacts__form-label">
          <input type="tel" class="input-reset field" name="Телефон" data-tel placeholder="Ваш телефон" aria-label="Поле для телефона">
        </label>
        <label class="contacts__form-label">
          <textarea class="input-reset field field--message" name="Сообщение" maxlength="2000" placeholder="Ваше сообщение" aria-label="Поле для сообщения"></textarea>
        </label>
      </div>
      <label class="contacts__form-agree" data-checkbox-group>
        <input type="checkbox" class="input-reset checkbox">
        <span class="contacts__form-text">Я подтверждаю свое согласие с политикой в отношении <a href="#">обработки персональных данных</a></span>
      </label>
      <button type="submit" class="btn-reset btn-accent">Задать вопрос</button>
    </form>
  </div>
</section>
