<footer class="footer">
  <div class="container footer__container">
    <div class="footer__column">
      <nav class="footer__nav footer__nav--accent" title="Навигация по сайту">
      <ul class="list-reset footer__nav-list">
        <li class="footer__nav-item"><a href="#" class="footer__nav-link">Упаковочное оборудование</a></li>
        <li class="footer__nav-item"><a href="#" class="footer__nav-link">Пленки</a></li>
        <li class="footer__nav-item"><a href="#" class="footer__nav-link">Пакеты</a></li>
        <li class="footer__nav-item"><a href="#" class="footer__nav-link">Прочие материалы</a></li>
      </ul>
      </nav>
      <nav class="footer__nav footer__nav--second" title="Навигация по сайту">
        <ul class="list-reset footer__nav-list">
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">О Компании</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Партнеры</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Доставка</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Оплата</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Обмен и возврат</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Контакты</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Распродажа</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Сервис</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Новости</a></li>
        </ul>
      </nav>
      <div class="footer__bottom footer__bottom--mobile-hidden">
        <small class="footer__copy-text">© Моневак 2020 | Все права защищены</small>
      </div>
    </div>
    <div class="footer__column">
      <address class="footer__address">
        <div class="footer__phones">
          <a href="tel:+74991361718" class="footer__phone">+7 (499) 136-17-18</a>
          <a href="tel:+79034679851" class="footer__phone">+7 (903) 467-98-51</a>
        </div>
        <button type="button" class="btn-reset btn-outline footer__btn-call">Обратный звонок</button>
        <a href="mailto:info@monevac.ru" class="footer__email">info@monevac.ru</a>
        <div class="footer__text">Москва ул. Дербеневская, д. 1, стр. 1, подъезд 44, офис 6 (станция метро "Павелецкая")</div>
      </address>
      <div class="footer__bottom">
        <small class="footer__copy-text footer__copy-text--mobile">© Моневак 2020 | Все права защищены</small>
        <small class="footer__copy-text">Разработка и продвижение сайта - <a href="#" target="_blank" rel="nofollow">TODO</a></small>
      </div>
    </div>
  </div>
</footer>
