<header class="header">
  <div class="container header__container">
    <button class="btn-reset header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
    <nav class="header__nav nav" title="Навигация по сайту">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Упаковка</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Оборудование</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Сервис и запчасти</a></li>
      </ul>
    </nav>
    <a href="#" class="logo header__logo" aria-label="логотип сайта" style="background-image: url(img/svg/logo.svg);"></a>
    <div class="header__content">
      <div class="header__content-btns">
        <button type="button" class="btn-reset btn-comparison" aria-label="сравнение"></button>
        <button type="button" aria-label="открыть форму для поиска" class="btn-reset btn-search"></button>
      </div>
      <address class="header__address address">
        <a class="address__phone" href="tel:+74991361718">+7 (499) 136-17-18</a>
        <a class="address__email" href="mailto:info@monevac.ru">info@monevac.ru</a>
      </address>
      <button type="button" class="btn-reset btn-accent header__btn">Оставить заявку</button>
    </div>
  </div>
</header>
